{% extends 'base/base.html' %}
{% load static %}


{% block navbar %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-4 ">

        </div>
        <div class="col-md-4">
            <a href="{% url 'base:home' %}">
                <img src="{% static 'img/adv.png' %}" class="center" style="width:45%;height:auto" alt="">
            </a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock navbar %}

{% block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

            <div class="jumbotron">
                <h3>
                    Bem-vindo(a)!
                </h3>
                {% if form.errors %}
                <br>
                <p style="font-size:12px;color:red">Senha ou usuário inválidos. Tente novamente.</p>
                {% endif %}

                {% if next %}
                {% if user.is_authenticated %}
                <p style="font-size:12px;color:red">Sua conta não possui acesso a essa página. Por favor,
                    realize o login em uma conta que possua esse acesso</p>
                {% else %}
                <p>Por favor, realize o login para ver esta página.</p>
                {% endif %}

                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Usuário</label>
                        <br>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <br>
                        {{ form.password }}
                    </div>
                    <a class="btn-light my-2 md-2" href="{% url 'login'%}"></a>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}
